<div class="resume-wrapper">
  <div class="resume error-size" data-page-scale-to=".resume-layout">

    <div class="two-column resume-layout cv15" style="min-height: 1089px; font-size: 13.0566px; display: block;">
      <section  actions="true" class="resume__header resume__section resume__heading resume__contact"
        hide_rename="true" hide_move="true" hide_remove="true" style="" data-id="e3e6c869-f5df-4e79-b26a-25efd0531922" data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/e3e6c869-f5df-4e79-b26a-25efd0531922/sort">
         
        <div class="resume__content">
          <h1>VIVEKA HEGADE</h1>
        </div>
      </section>
      <section  actions="true" class="resume__section resume__heading resume__contact"
        hide_rename="true" hide_move="true" hide_remove="true" style="" data-id="e3e6c869-f5df-4e79-b26a-25efd0531922" data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/e3e6c869-f5df-4e79-b26a-25efd0531922/sort">
        <div class="resume__controls">
          <a class="btn-green resume__control-button" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/personal_infos/edit">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            <span class="resume__control-text"> Edit</span>
          </a>
        </div>
        <div class="resume__content">
          <div class="info-item">
            <span class="info-label">
              Phone:
            </span>
            <span class="info-text">(988) 610-4713</span>
          </div>

          <div class="info-item">
            <span class="info-label">
              Email:
            </span>
            <span class="info-text">hegade.viveka@gmail.com</span>
          </div>

          <div class="info-item">
            <span class="info-label">
              Address:
            </span>
            <span class="info-text">karnataka 560102</span>
          </div>

        </div>
      </section>
      <div data-sortable="true" class="resume__blocks_container" data-after-update-action-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/change_template">
        <section edit_link="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/summaries/edit" section="#<Sections::Summary:0x007f681bfea008>"
          actions="true" class="resume__section resume__summary" style="" data-id="3ea79163-75a3-4d7a-86a8-d29165600c96" data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/3ea79163-75a3-4d7a-86a8-d29165600c96/sort">
          <div class="resume__controls">
            <a class="btn-green resume__control-button" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/summaries/edit">
              <span class="fa fa-pencil" aria-hidden="true"></span>
              <span class="resume__control-text"> Edit</span>
            </a>
            <a class="btn-green resume__control-button" data-remote="true" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/3ea79163-75a3-4d7a-86a8-d29165600c96/edit">
              <span class="fa fa-file-text-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Rename</span>
            </a>
            <a class="btn-green resume__control-button" data-confirm="Are you sure?" rel="nofollow" data-method="delete"
              href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/3ea79163-75a3-4d7a-86a8-d29165600c96">
              <span class="fa fa-trash-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Delete</span>
            </a>
          </div>
          <div class="resume__content">
            <h2>Professional Summary</h2>
            <div class="other">
              <div class="other-info">
                <div>Seasoned investment professional offering 20+ years of expertise in the areas of investment strategy and
                  asset allocation.&nbsp; Success managing billions of dollars across multiple portfolios while leading efforts
                  in reforming investment strategies.&nbsp; Senior leader adroit in providing executives and Board of Directors
                  with evidence and reports that influence and inform the vital decision-making process.
                  <br>Financial Analyst equipped with the tools and knowledge needed to advance into senior-level roles within
                  innovative, growth-driven companies.&nbsp; Expert at developing and tracking budget expenses and strong
                  ability to analyze and organize large data sets.&nbsp; Deep technical knowledge with proficient use of
                  QuickBooks and Excel programs.</div>
              </div>
            </div>

          </div>
          <div class="resume__move">
            <a class="btn-green resume__control-button js-sortableHandle" href="#">
              <span class="fa fa-arrows" aria-hidden="true"></span>
            </a>
          </div>
        </section>
        <section edit_link="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/experiences" section="#<Sections::Experience:0x007f681bf7dca0>"
          actions="true" class="resume__section resume__experience" style="" data-id="07999dba-95b0-414e-b73a-824b309af729"
          data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/07999dba-95b0-414e-b73a-824b309af729/sort">
          <div class="resume__controls">
            <a class="btn-green resume__control-button" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/experiences">
              <span class="fa fa-pencil" aria-hidden="true"></span>
              <span class="resume__control-text"> Edit</span>
            </a>
            <a class="btn-green resume__control-button" data-remote="true" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/07999dba-95b0-414e-b73a-824b309af729/edit">
              <span class="fa fa-file-text-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Rename</span>
            </a>
            <a class="btn-green resume__control-button" data-confirm="Are you sure?" rel="nofollow" data-method="delete"
              href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/07999dba-95b0-414e-b73a-824b309af729">
              <span class="fa fa-trash-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Delete</span>
            </a>
          </div>
          <div class="resume__content">
            <h2>Employment history</h2>
            <div class="xp-item">
              <div class="xp-date">
                Jan. 2016 – Present
                <span class="xp-city d-block">Bangalore, Karnataka</span>
              </div>
              <div class="xp-job">
                Sr Software Engineer, Epicor
                <div class="xp-detail">
                  <ul>
                    <li>Write, update, and maintain computer programs or software packages to handle specific jobs such as tracking
                      inventory, storing or retrieving data, or controlling other equipment.Design, build, or maintain web
                      sites, using authoring or scripting languages, content creation tools, management tools, and digital
                      media.</li>
                    <li>Research, document, rate, or select alternatives for web architecture or technologies.</li>
                    <li>Verify stability, interoperability, portability, security, or scalability of system architecture.</li>
                    <li>Design or develop software systems, using scientific analysis and mathematical models to predict and
                      measure outcome and consequences of design.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="xp-item">
              <div class="xp-date">
                Jan. 2013 – Dec. 2015
                <span class="xp-city d-block">Bangalore, karnataka</span>
              </div>
              <div class="xp-job">
                Associated Technical specialist, Nextgen
                <div class="xp-detail">
                  <ul>
                    <li>Review violations of computer security procedures and discuss procedures with violators to ensure violations
                      are not repeated.</li>
                    <li>Develop plans to safeguard computer files against accidental or unauthorized modification, destruction,
                      or disclosure and to meet emergency data processing needs.</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="resume__move">
            <a class="btn-green resume__control-button js-sortableHandle" href="#">
              <span class="fa fa-arrows" aria-hidden="true"></span>
            </a>
          </div>
        </section>
        <section edit_link="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/educations" section="#<Sections::Education:0x007f681bf0e6c0>"
          actions="true" class="resume__section resume__education" style="" data-id="a4b74faf-4fdc-42a6-9207-6e7c734d604e"
          data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/a4b74faf-4fdc-42a6-9207-6e7c734d604e/sort">
          <div class="resume__controls">
            <a class="btn-green resume__control-button" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/educations">
              <span class="fa fa-pencil" aria-hidden="true"></span>
              <span class="resume__control-text"> Edit</span>
            </a>
            <a class="btn-green resume__control-button" data-remote="true" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/a4b74faf-4fdc-42a6-9207-6e7c734d604e/edit">
              <span class="fa fa-file-text-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Rename</span>
            </a>
            <a class="btn-green resume__control-button" data-confirm="Are you sure?" rel="nofollow" data-method="delete"
              href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/a4b74faf-4fdc-42a6-9207-6e7c734d604e">
              <span class="fa fa-trash-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Delete</span>
            </a>
          </div>
          <div class="resume__content">
            <h2>Education</h2>
            <div class="xp-item">
              <div class="xp-date">
                Jun. 2007
              </div>
              <div class="xp-job">
                Bachelor of Engineering: Electrical and Electronics
                <div class="xp-detail">
                  <ul>
                    <li>
                      Kuvempu University - Karnataka
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="resume__move">
            <a class="btn-green resume__control-button js-sortableHandle" href="#">
              <span class="fa fa-arrows" aria-hidden="true"></span>
            </a>
          </div>
        </section>
        <section edit_link="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/languages/edit" section="#<Sections::Language:0x007f681beb8090>"
          actions="true" class="resume__section resume__languages" style="" data-id="62131ceb-950d-491a-a934-0c7ee2695a5b"
          data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/62131ceb-950d-491a-a934-0c7ee2695a5b/sort">
          <div class="resume__controls">
            <a class="btn-green resume__control-button" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/languages/edit">
              <span class="fa fa-pencil" aria-hidden="true"></span>
              <span class="resume__control-text"> Edit</span>
            </a>
            <a class="btn-green resume__control-button" data-remote="true" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/62131ceb-950d-491a-a934-0c7ee2695a5b/edit">
              <span class="fa fa-file-text-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Rename</span>
            </a>
            <a class="btn-green resume__control-button" data-confirm="Are you sure?" rel="nofollow" data-method="delete"
              href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/62131ceb-950d-491a-a934-0c7ee2695a5b">
              <span class="fa fa-trash-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Delete</span>
            </a>
          </div>
          <div class="resume__content">
            <h2>Languages</h2>

            <div class="wrap">
              <div class="left-col">

                <div class="extra">
                  <div class="extra-info">
                    Kannada
                  </div>
                  <div class="extra-details">
                    Native speaker
                  </div>
                </div>

                <div class="extra">
                  <div class="extra-info">
                    English
                  </div>
                  <div class="extra-details">
                    Fluent
                  </div>
                </div>

              </div>
              <div class="right-col">

                <div class="extra">
                  <div class="extra-info">
                    Hindi
                  </div>
                  <div class="extra-details">
                    Conversational
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="resume__move">
            <a class="btn-green resume__control-button js-sortableHandle" href="#">
              <span class="fa fa-arrows" aria-hidden="true"></span>
            </a>
          </div>
        </section>
        <section edit_link="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/skills/edit" section="#<Sections::Skill:0x007f681be241b0>"
          actions="true" class="resume__section resume__skills" style="" data-id="839c38a8-1462-44d6-88a3-5540a994ee25" data-update-url="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/839c38a8-1462-44d6-88a3-5540a994ee25/sort">
          <div class="resume__controls">
            <a class="btn-green resume__control-button" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/skills/edit">
              <span class="fa fa-pencil" aria-hidden="true"></span>
              <span class="resume__control-text"> Edit</span>
            </a>
            <a class="btn-green resume__control-button" data-remote="true" href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/839c38a8-1462-44d6-88a3-5540a994ee25/edit">
              <span class="fa fa-file-text-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Rename</span>
            </a>
            <a class="btn-green resume__control-button" data-confirm="Are you sure?" rel="nofollow" data-method="delete"
              href="/resume/c80fad3b-ecb8-4e1d-b29a-a6672c90c0d3/sections/839c38a8-1462-44d6-88a3-5540a994ee25">
              <span class="fa fa-trash-o" aria-hidden="true"></span>
              <span class="resume__control-text"> Delete</span>
            </a>
          </div>
          <div class="resume__content">
            <h2>Skills</h2>
            <div class="resume__text">
              <div class="wrap">
                <div class="left-col">

                  <div class="extra">
                    <div class="extra-info">
                      Angular
                    </div>
                    <div class="extra-details">
                      Expert
                    </div>
                  </div>

                  <div class="extra">
                    <div class="extra-info">
                      C#, WebApi
                    </div>
                    <div class="extra-details">
                      Experienced
                    </div>
                  </div>

                  <div class="extra">
                    <div class="extra-info">
                      D3.js
                    </div>
                    <div class="extra-details">
                      Skillful
                    </div>
                  </div>

                </div>
                <div class="right-col">

                  <div class="extra">
                    <div class="extra-info">
                      Typescript
                    </div>
                    <div class="extra-details">
                      Skillful
                    </div>
                  </div>

                  <div class="extra">
                    <div class="extra-info">
                      SQL
                    </div>
                    <div class="extra-details">
                      Experienced
                    </div>
                  </div>

                  <div class="extra">
                    <div class="extra-info">
                      HTML, CSS
                    </div>
                    <div class="extra-details">
                      Experienced
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="resume__move">
            <a class="btn-green resume__control-button js-sortableHandle" href="#">
              <span class="fa fa-arrows" aria-hidden="true"></span>
            </a>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>